doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title
        | Nodejs tepmlate project
    link(href='https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap' rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap' rel='stylesheet')
    // Template CSS
    link(rel='stylesheet' href='/assets/css/style-liberty.css')
include header
block content
include footer
// Template JavaScript
script(src='/js/theme-change.js')

block js